.base {
  background-color: var(--theme-stage);
  display: flex;

  .frame {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    .title {
      background-color: var(--theme-stage-weak);
      font-weight: bold;
      overflow: auto;
      padding: 4px 16px;
    }
    & > *:nth-child(2) {
      flex: 1 1 0;
      overflow: auto;
    }
  }
  .divider {
    background-color: var(--theme-stage-strong);
    cursor: col-resize;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.base.vertical {
  flex-direction: column;

  .divider {
    cursor: row-resize;
  }
}